/* Customize CSS native */

.notDisplayMobile {
  display: inline-block;
}

/* ********************** Start hero  ********************** */
h1 {
  font-size: 60px;
}

.hero article:nth-child(2) {
  position: relative;
}

.hero article:nth-child(2) > img:nth-child(1) {
  position: absolute;
  max-width: 300px;
  left: -5%;
  top: 6%;
  right: auto;
  bottom: auto;
}

.hero article:nth-child(2) > img:nth-child(3) {
  position: absolute;
  max-width: 274px;
  left: auto;
  top: auto;
  right: -10%;
  bottom: -15%;
}

/* Clientes */
.clientes {
  margin-top: 5rem;
}

/* Projects */
.projects h2 {
  text-align: start;
  margin-left: 1.5rem;
}
.projects > div {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.projects article {
  margin: 0;
}

/* testimonial */
.testimonial {
  position: relative;
}
.testimonial > img {
  position: absolute;
  width: 13%;
}
.testimonial > img:nth-child(4) {
  left: 10%;
  top: 10%;
}
.testimonial > img:nth-child(6) {
  left: 10%;
  bottom: 10%;
}
.testimonial > img:nth-child(5) {
  right: 10%;
  bottom: 10%;
}
.testimonial > img:nth-child(7) {
  right: 10%;
  top: 10%;
}
