/* Customize CSS native */

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  color: #292e47;
}
body {
  background-color: #f2f4fc;
}

.notDisplayMobile,
.notDisplayMobileTablet {
  display: none;
  /* padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px; */
}

a {
  text-decoration: none;
}

/* ********************** Start INDEX ********************** */
/* nav */
nav .container-fluid {
  padding: 2px 32px;
}
nav .container-fluid > img {
  width: 3.5rem;
}
nav . .navbar-toggler-icon {
  background-image: none;
}

nav .toogler-icon {
  width: 15px;
  height: 2.5px;
  background-color: #2b2929;
  margin: 2px;
  border-radius: 5px;
}

nav .navbar-toggler {
  padding: 12px 18px;
  font-size: 0.75rem;
  border-style: none;
}
.navbar-brand > img {
  width: 60px;
  height: 18px;
}

/* section #1 */
.hero {
  margin: 0 30px;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  padding: 20px 0;
}
h4 {
  color: #6b708d;
  font-size: 17px;
  line-height: 150%;
  padding-top: 3px;
  font-weight: 100;
  max-width: 600px;
  margin: 0 auto 2.4rem;
}

.hero button {
  padding: 12px 30px;
  font-size: 17px;
  border: 0;
}

.hero button:first-child {
  background-color: #072ac8;
  color: white;
}
.hero button:last-child {
  color: #6b708d;
  font-weight: 500;
  text-decoration: none;
  background: none;
  margin-left: 0.6rem;
}

.hero .buttons {
  margin-left: 2rem;
}

.hero img:nth-child(2) {
  max-width: 80%;
  vertical-align: middle;
  display: inline-block;
  margin-top: 40px;
}

.clientes {
  display: flex;
  flex-direction: column;
  height: 48vh;
  align-items: center;
  justify-content: space-evenly;
}

.clientes .cliente {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

/* Section2 */
.projects {
  margin: 0.5rem 0;
}
.projects h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
.projects article {
  background-color: white;
  margin: 0 30px 30px;
}
.projects img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.projects div {
  padding: 2rem;
}
.projects h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.projects h5 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.projects a {
  color: #072ac8;
  font-size: 17px;
  font-weight: 500;
}

/* Testimonial */
.testimonial {
  background-image: url("./img/testimonial-section/orbit.png");
  background-color: #292e47;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.testimonial h2 {
  margin: 50px;
  color: #ecf7ff;
  font-size: 40px;
  max-width: 400px;
  line-height: 150%;
}
.testimonial h3 {
  max-width: 560px;
  color: #ffc600;
  font-size: 24px;
  line-height: 160%;
  font-weight: 500;
  margin: 0.5rem 0;
}
.testimonial article {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3.5rem 0 2rem;
}

.perfil {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-image: url("./img/testimonial-section/profile.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

div:has(> .perfilNombre) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}

.perfilNombre,
.perfilEmpresa {
  margin: 0;
}

.perfilNombre {
  color: #a2d6f9;
  font-size: 17px;
}

.perfilEmpresa {
  color: #ecf7ff;
  font-size: 13px;
}
/* services */
.services h2 {
  margin: 2.5rem auto 1rem;
}
.services .logo {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #ecf7ff;
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  margin: 0.5rem 0.5rem 2rem;
}
.logo1 {
  background-image: url("./img/services-section/icons/1.svg");
}
.logo2 {
  background-image: url("./img/services-section/icons/2.svg");
}
.logo3 {
  background-image: url("./img/services-section/icons/3.svg");
}

/* contact-us */
.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffc600;
  margin-top: 4rem;
}

.contact-us h2 {
  margin: 6.2rem auto 0.8rem;
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
}

.contact-us form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5.5rem;
  margin-top: 0.5rem;
}

.contact-us form * {
  height: 5rem;
  width: 24.5rem;
  border: none;
}

.contact-us form > input {
  background-image: url(./img/newsletter/icon/mail.svg);
  background-position: 8% 50%;
  background-color: #f2f4fc;
  background-repeat: no-repeat;
  background-size: 5vh;
  text-indent: 65px;
  margin-bottom: 1.5rem;
  border: solid 1px #cccc;
  font-size: 17px;
}
.contact-us ::placeholder {
  color: black;
}
.contact-us form > button {
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  color: white;
}

/* Borrar solo para pruebas */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 30px 100px;
}

footer > div:nth-child(1) {
  display: contents;
}

footer img {
  width: 6rem;
}

footer h4 {
  margin: 1.5rem 5rem;
  text-align: center;
}

footer nav {
  width: 70vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

footer nav > a {
  color: blue;
  font-size: 17px;
}

/* ********************** Start CONTACT ********************** */
.mainContactUs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}
.mainContactUs h1 {
  margin-left: 30px;
}
.mainContactUs form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  margin: 0 2rem;
}

.mainContactUs form * {
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  color: #6b708d;
  font-size: 20px;
  font-weight: 400;
}
.mainContactUs form ::placeholder {
  font-size: 17px;
}
.mainContactUs form input,
.mainContactUs form textarea {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(107, 112, 141, 0.1);
  border: none;
}
.mainContactUs form textarea {
  height: 10rem;
}
.mainContactUs [type="submit"]:not(:disabled) {
  padding: 1.5rem;
  background-color: #072ac8;
  color: white;
}

/* ********************** Start PROYECT (selected)********************** */

.dinamicProyect {
  padding: 2rem;
}
.dinamicProyect div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dinamicProyect h2 {
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1.5rem;
}
.dinamicProyect h3 {
  color: #6b708d;
}
.dinamicProyect span {
  color: #6b708d;
}

.dinamicProyect img {
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
}

.dinamicProyect .efecto {
  position: absolute;
  left: 0%;
  top: 35%;
  z-index: -1;
  opacity: 0.4;
  filter: saturate(100%) blur(40px);
  /* height: 40%; */
}

.dinamicProyect p {
  font-size: 20px;
  line-height: 30px;
}
.contenedorImagenes {
  margin: 2rem 0;
}
